* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: seashell;
}

header {
    border-bottom: 1px solid seashell;
    height: 69px;
    background-color: #000;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header img {
    margin-left: 10px;
    height: 50px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
}

nav li {
    list-style: none;
    margin: 15px;
}

nav li a {
    font-size: 22px;
    opacity: 0.9;
    text-decoration: underline;
}

.mission {
    background-image: url(img/img-mission-background.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 700px;
    width: 1200px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

main {
    background-color: #000;
    width: 100%;
}

#mission {
    position: relative;
}

.mission article{
    background-color: #000;
    width: 100%;
}

.mission h2, .mission h4 {
    margin: 15px;
}

.mission h4 {
    font-size: 22px;
}

.mission h2 {
    font-size: 33px;
}

.container {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.container img {
    width: 300px;
    height: 200px;
}

.container h2, .container h4 {
    text-align: center;
    margin: 20px;
}

.container h4 {
    font-size: 22px;
    margin-bottom: 10px;
}

.container h2 {
    font-size: 33px;
}

.img {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.img figcaption {
    margin: 10px;
    font-size: 22px;
    font-weight: 700;
}

.img img{
    margin: 15px;
    margin-bottom: 0;
}

#location {
    background-image: url(img/img-locations-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#location h2{
    font-size: 33px;
}

.location {
    width: 100%;
    display: flex;
    justify-content: center;
}

.city {
    width: 300px;
    background-color: #000;
    text-align: center;
    margin: 20px;
    padding-top: 25px;
}

.city li {
    list-style: none;
}

.city h3 {
    font-size: 23px;
}

.city li {
    font-size: 21px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.info {
    text-align: center;
    height: 200px;
}

.info h2{
    margin-bottom: 50px;
    margin-top: 10px;
    font-size: 33px;
}

.info h5 {
    margin-bottom: 40px;
    font-size: 18px;
}

.info p {
    font-weight: 700;
}

footer{
    background-color: #000;
    height: 50px;
    text-align: left;
}

footer p {
    margin-left: 20px;
    font-weight: 700;
}